.bg {
    main {
        flex-direction: column;
        justify-content: flex-end;
        height: 892px;
        padding-bottom: 200px;
        @include ipad {
            padding-bottom: 50px;
        }
        @include tf {
            padding-bottom:0;
            justify-content: space-around;
        }
    }
    &_items {
        display: flex;
        justify-content: space-between;
        @include ipad {
            flex-direction: column;
            align-items: center;
            
        }
        
        

    }
    &_text {
        display: flex;
        flex-direction: column;
        padding-top: 15px;        
        flex-basis: 29%;
        @include ipad {
            margin-bottom: 30px;
            
            width: 60%;
        }
        @include tf {
            margin-bottom: 30px;
            
            width: 90%;
        }
    }
    &_first {
        border-top: 4px solid #6D3F96 ;
    }
    &_second {
        border-top: 4px solid #70CBCE ;
    }
    &_third {
        border-top: 4px solid #FDC05D ;
    }
}