* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
}
body {
    font-family: Montserrat , sans-serif;
    
}

section {
    display: block;
    min-height: 892px;
    border: 5px solid black;
    padding: 30px 0 ;
}
main {
    @extend %item;
    display: flex;
    height: 100%;
}
h1, h2, h3 {
    margin-bottom: 30px;
}
li {
    list-style-type: none;
}