.header {
    background-image: url(/app/img/0e86056ecb8f8967612e0fe3de3b4cad.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    color: #fff;
    main {
        flex-direction: column;
        justify-content: space-between ;
        
       }
    &_menu {
        display: flex;
        justify-content: space-between;   
        margin-bottom: 240px;  
        align-items: center;        
    }
    
    ul {
        list-style-type: none;
        display: flex;
        align-content: space-between;
        justify-content: center;
        text-align: right;
    }
    &_li {
        margin-left: 30px;
        &_li:last-child {
            margin-left: 0px;
        }
    }
    &_text {
        font-size: 21px;
        line-height: 25px;
        display: flex;
        flex-direction: column;
        // border: 1px solid black;
        align-items: center;        
        }
    h1 {
        font-size: 40px;
        font-weight: 800px;
    }    
    &_but {
            display: flex;
            margin-top: 30px;
        }
    a {
        display:block;
        height: 55px;
        width: 175px;
        font-size: 14px;
        margin: 0 15px;
        background-color: #fff;
        border-radius: 3px;
        text-align: center;
        line-height: 55px;
        text-transform: uppercase;
        text-decoration: none;
        margin-bottom: 20px;
        &a:last-child {
            margin-right: 0px;
            
            
        }
    }
}