@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
main {
  max-width: 1440px;
  width: 95%;
  margin: 0 auto; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-family: Montserrat , sans-serif; }

section {
  display: block;
  min-height: 892px;
  border: 5px solid black;
  padding: 30px 0; }

main {
  display: flex;
  height: 100%; }

h1, h2, h3 {
  margin-bottom: 30px; }

li {
  list-style-type: none; }

.header {
  background-image: url(/app/img/0e86056ecb8f8967612e0fe3de3b4cad.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff; }
  .header main {
    flex-direction: column;
    justify-content: space-between; }
  .header_menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 240px;
    align-items: center; }
  .header ul {
    list-style-type: none;
    display: flex;
    align-content: space-between;
    justify-content: center;
    text-align: right; }
  .header_li {
    margin-left: 30px; }
    .header_li_li:last-child {
      margin-left: 0px; }
  .header_text {
    font-size: 21px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .header h1 {
    margin-bottom: 10px; }
  .header_but {
    display: flex;
    margin-top: 30px; }
  .header a {
    display: block;
    height: 55px;
    width: 175px;
    font-size: 14px;
    margin: 0 15px;
    background-color: #fff;
    border-radius: 3px;
    text-align: center;
    line-height: 55px;
    text-transform: uppercase;
    text-decoration: none; }
    .header aa:last-child {
      margin-right: 0px; }

.app {
  background-image: url(/app/img/app.jpg);
  color: #eee; }
  .app main {
    justify-content: space-between;
    flex-direction: column;
    align-items: center; }
  .app_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 21px;
    line-height: 25px;
    text-align: center; }
  .app img {
    transform: translateY(500px); }

.bg main {
  flex-direction: column;
  justify-content: flex-end;
  height: 892px;
  padding-bottom: 200px; }
.bg_items {
  display: flex;
  justify-content: space-between; }
.bg_text {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  flex-basis: 29%; }
.bg_first {
  border-top: 4px solid #6D3F96; }
.bg_second {
  border-top: 4px solid #70CBCE; }
.bg_third {
  border-top: 4px solid #FDC05D; }

.price {
  background-color: #70CBCE; }
  .price main {
    flex-direction: column;
    justify-content: space-between; }
  .price_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 60px; }
  .price_price {
    display: flex;
    justify-content: space-between; }
  .price ul {
    text-align: center;
    flex-basis: 29%; }
  .price li {
    background-color: #eee;
    height: 50px;
    font-size: 17px;
    line-height: 22px;
    border: 1px solid black;
    padding-top: 15px; }
    .price lili:nth-child(3n) {
      padding-top: 0px; }
  .price_black {
    background-color: #231F20 !important;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px; }
  .price_grey {
    background-color: #c4c4c4 !important;
    line-height: 35px !important;
    font-size: 35px !important; }
  .price_white {
    background-color: #c4c4c4 !important; }

/*# sourceMappingURL=style.css.map */
